/* Reset CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

section {
    padding: 60px 20px; /* Adjust padding for each section */
}

/* Navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1em 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav header h1 {
    margin: 0;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #408744;
}

/* Home section styles */
#home {
    position: relative;
    background: url('assets/Fondoo.png') center/cover no-repeat;
    overflow: hidden;
    z-index: 1;
    background-color: black;
    position: relative;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title {
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    font-size: 3em;
}

.dataflow-text {
    color: #79d77e; 
}

.sub-title{
    font-size: 1.6em;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Config section styles */
#configSection {
    background: white;
    padding: 40px 20px;
}

#configSection h2 {
    padding: 20px;
    top: 20px;
    left: 20px;
    margin: 0;
    font-size: 2em;
    color: #333;
}

#dataConfigForm {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    padding: 45px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-section {
    display: flex;
    width: 100%;
}

.config-global, .config-columns {
    flex: 1;
    padding: 8px;
}

.columnsContainer {
    height: 20;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: medium;
}

input[type="number"], input[type="text"], select {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cbe7cc;
    border-radius: 5px;
}

button {
    background: #138496;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

button:hover {
    background: #138496;
}

button[type="button"] {
    background: #dc3545;
    float: left;
}

button[type="button"]:hover {
    background: #c82333;
}

button#addColumnBtn {
    position: flex;
    background: #28a745;
    float: right;
}

button#addColumnBtn:hover {
    background: #218838;
}

button#exportCsvBtn {
    background: #28a745;
}

button#exportCsvBtn:hover {
    background: #71b774;
}

.columnConfig {
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 7px;
    width: 2;
    border: 1px solid #cbe7cc;
}

#dataSection #dataTable {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #ccc;
    border-radius: 80px;
}

#dataSection #dataTable th,
#dataSection #dataTable td {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 80px;
}

.action-cell {
    text-align: center;
}

.pagination-controls {
    margin-top: 20px;
}

.pagination-controls button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-controls button:hover {
    background-color: #0056b3;
}

.pagination-controls button.active {
    background-color: #0056b3;
}

.pagination-controls input {
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

/* Styles for file input and load button */
#csvFileInput {
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #cbe7cc;
    border-radius: 5px;
    width: 50%;
    font-size: 1em;
    cursor: pointer;
}

button#loadDataButton {
    display: block;
    margin: 20px auto;
    background: #17a2b8;
}

button#loadDataButton:hover {
    background: #138496;
}

/* Chart container styles */
.chart-container {
    width: 80%;
    margin: auto;
}

button.edit-btn {
    background-color: #28a745; /* verde */
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
button.save-btn {
    background-color: #28a745; /* verde */
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
button.edit-btn:hover {
    background-color: #218838; /* verde más oscuro */
}

button.remove-btn {
    background-color: #dc3545; /* rojo */
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button.remove-btn:hover {
    background-color: #c82333; /* rojo más oscuro */
}
.columnConfig {
    position: relative;
  }
  
  .removeColumnBtn {
    position: absolute;
    top: 0;
    right: 0;
  }
  